form {
    margin-top: 30px;
}

form .input-block + .input-block {
    margin-top: 20px;
}

form .input-block label{
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}

form .input-block textarea {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    max-width: 280px;
}

form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: rgb(223, 46, 48);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: background 0.25s;
}

form button[type=submit]:hover {
    background: rgb(200, 20, 22);
}