#app {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 30px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (max-width: 1300px) {
    .row {
        flex-direction: column;
    }

    #app main {
        margin-top: 30px;
    }

    #app aside {
        width: 100%;
    }
}