.search-block .sear {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sear {
    width: 320px;
    height: 80px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.sear input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.sear button {
    width: 100%;
    border: 0;
    margin-bottom: 50px;
    background-color: rgb(223, 46, 48);
    border-radius: 2px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: background 0.25s;
}

.sear button:hover {
    background: rgb(200, 20, 22);
}